.dashboard {
  display: flex;
  min-height: 100vh;
  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
  }
}

.dashboard__menu {
  background-color: $light-black;
  flex: 2;
  @media (min-width: $desktop-breakpoint) {
    min-height: 100vh;
  }
}

.dashboard__content {
  flex: 10;
  h1 {
    text-align: center;
  }
}

.dashboard__content--home {
  display: flex;
  flex: 6;
  flex-wrap: wrap;
  justify-content: center;
}

.dashboard__info {
  flex: 5;
  padding: $s-size 0;
}

.dashboard__birthday {
  background-color: $off-white;
  flex: 2;
  text-align: center;
}

.dashboard__image-home {
  background: url('/images/dashboard.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  min-height: 60rem;
  width: 100%;
}

.chart {
  margin-bottom: $s-size;
}
