.help__content {
  position: relative;
}

.help__box {
  align-items: center;
  background-color: $off-white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
  opacity: 0.7;
  width: 50vw;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  > * {
    margin: 0;
    padding: $m-size;
  }
  @media (min-width: $desktop-breakpoint) {
  }
}

.help__title {
  font-size: $font-size-medium;
  @media (min-width: $desktop-breakpoint) {
    font-size: $font-size-medium * 2;
  }
}

.help__email {
  font-size: $font-size-small / 1.5;
  @media (min-width: $desktop-breakpoint) {
    font-size: $font-size-medium;
  }
}
