.list-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: $m-size;
  @media (min-width: $desktop-breakpoint) {
    margin-bottom: $l-size;
  }
}

.list-body--message {
  margin-bottom: $m-size;
  @media (min-width: $desktop-breakpoint) {
    margin-bottom: $l-size;
  }
}

.list-header {
  background: #242424;
  border: 1px solid darken($off-white, 7%);
  color: $off-white;
  display: flex;
  justify-content: space-between;
  padding: $s-size $l-size;
}

.list-item {
  padding: 0.5rem;
}

.list-item--message {
  border: 1px solid darken($off-white, 7%);
  color: $dark-grey;
  display: flex;
  flex-direction: column;
  padding: $s-size;
  text-decoration: none;
  transition: background $s-time ease;
  width: 100%;
  &:hover {
    background: $off-white;
  }
  @media (min-width: $desktop-breakpoint) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: $m-size;
  }
}

.list-item__title {
  margin: 0;
  word-break: break-all;
}

.list-item__sub-title {
  color: $grey;
  font-size: $font-size-small;
}

.list-item__data {
  margin: $s-size 0 0 0;
  @media (min-width: $desktop-breakpoint) {
    margin: 0;
    padding-left: $s-size;
  }
}

.list-item__image {
  height: 24rem;
  object-fit: cover;
  object-position: 50% 50%;
  width: 24rem;
}

.list-item__video {
  height: 20rem;
  width: 30rem;
}
