.loader {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.loader__small {
  @extend .loader;
  height: 100px;
  width: 100px;
}

.loader__image {
  height: 6rem;
  width: 6rem;
}
