.gym {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.gym__list {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 90vw;
  margin-top: 2rem;

  > * {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    @media (min-width: $desktop-breakpoint) {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
    }
  }

  @media (min-width: $desktop-breakpoint) {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

.gym__list:last-child() {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  @media (min-width: $desktop-breakpoint) {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

.gym__text {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 40rem;
}

.gym__name {
  color: #edb19a;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.gym__title {
  font-size: 1.3rem;
  padding: 1rem;
  text-transform: uppercase;
}

.gym__icon {
  background-image: url("/images/ring.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: #edb19a;
  padding: 1.7rem;
}

.gym__description {
  font-family: $text-font;
  font-size: 1.3rem;
  padding: 0.5rem 2rem;
  text-align: center;
  @media (min-width: $tablet-breakpoint) {
    padding: 1.5rem 2rem 0.5rem;
  }
  @media (min-width: $desktop-breakpoint) {
    padding: 1.5rem 10rem 0.5rem;
  }
}

.gym__img {
  height: 40rem;
  width: 100%;
}

.gym__img--1 {
  margin-right: 0;
  background: url("/images/academia-particular.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-width: $desktop-breakpoint) {
    margin-right: 2.5rem;
  }
}
.gym__img--2 {
  margin-left: 0;
  background: url("/images/academia-sogi.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-width: $desktop-breakpoint) {
    margin-left: 2.5rem;
  }
}
