.hero-grid {
  @supports (display: grid) {
    grid-column: 1 / -1;
    grid-row: 1 / -2;
    margin-top: 5rem;
  }
}

.hero {
  background: url('/images/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 80vh;
  min-height: 60rem;
  padding: 0 7rem;
  width: 100vw;
  @media (min-width: $desktop-breakpoint) {
    padding: 0 10rem;
  }
}

.hero__text {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 5rem 0;
  @media (min-width: $desktop-breakpoint) {
    padding: 5rem 0 5rem 5rem;
  }
}

.hero__title {
  @extend .title__font;
  -webkit-animation: 0.5s fadein 1s ease-in forwards;
  animation: 0.5s fadein 1s ease-in forwards;
  font-size: 5rem;
  opacity: 0;
  padding-top: 4rem;
  text-transform: uppercase;
}

.hero__bullet {
  margin: 1.5rem 1.5rem 0 0;
  width: 1rem;
}

.hero__bullet--margin {
  margin: 5rem 0;
  -webkit-animation: 0.5s fadein 1s ease-in forwards;
  animation: 0.5s fadein 1s ease-in forwards;
  opacity: 0;
  padding-top: 4rem;
}

.hero__button-animation {
  -webkit-animation: 0.5s fadein 1s ease-in forwards;
  animation: 0.5s fadein 1s ease-in forwards;
  opacity: 0;
  padding-top: 4rem;
}
