.schedule {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 8rem 0 4rem;
  width: 100vw;
}

.schedule__container {
  width: 95vw;
  @media (min-width: $desktop-breakpoint) {
    width: 85vw;
  }
}

.schedule__title {
  font-family: $title-font;
  font-size: 3.8rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
  @media (min-width: $desktop-breakpoint) {
    text-align: left;
  }
}

.schedule__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.schedule__grid1 {
  @supports ((display: -ms-grid) or (display: grid)) {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows:
      50px 12rem 12rem 12rem 12rem;
        grid-template-rows:
      50px 12rem 12rem 12rem 12rem;
    -ms-grid-columns: 30vw 30vw 30vw;
        grid-template-columns: 30vw 30vw 30vw;
    -webkit-box-shadow: 0px 2px 2rem rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 2rem rgba(0, 0, 0, 0.1);
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  @supports ((display: -ms-grid) or (display: grid)) {
    @media (min-width: $desktop-breakpoint) {
      -ms-grid-rows:
      50px 12rem 12rem 12rem 12rem;
          grid-template-rows:
      50px 12rem 12rem 12rem 12rem;
      -ms-grid-columns: 1fr 1fr 1fr;
          grid-template-columns: 1fr 1fr 1fr;
    }
  }

  // Código para navegadores que não tem suporte ao grid
  @supports not (display: grid) {
    background-image: url('/images/cronograma-primeiro.png'); 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: contain;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 30rem;
  }


  @supports not ((display: -ms-grid) or (display: grid)) {
    @media (min-width: $desktop-breakpoint) {
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
      height: 50rem;
      background-position: right;
    }
  }
}

.schedule__grid2 {
  @supports ((display: -ms-grid) or (display: grid)) {
    -webkit-box-shadow: 0px 2px 2rem rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 2rem rgba(0, 0, 0, 0.1);
    display: -ms-grid;
    display: grid;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    -ms-grid-rows:
    50px 12rem 12rem 12rem 12rem;
        grid-template-rows:
    50px 12rem 12rem 12rem 12rem;
    -ms-grid-columns: 30vw 30vw 30vw;
        grid-template-columns: 30vw 30vw 30vw;
  }  

  @supports ((display: -ms-grid) or (display: grid)) {
    @media (min-width: $desktop-breakpoint) {
      -ms-grid-rows:
      50px 12rem 12rem 12rem 12rem;
          grid-template-rows:
      50px 12rem 12rem 12rem 12rem;
      -ms-grid-columns: 1fr 1fr 1fr;
          grid-template-columns: 1fr 1fr 1fr;
    }
  }

  // Código para navegadores que não tem suporte ao grid
  @supports not (display: grid) {
    background-image: url('/images/cronograma-segundo.png'); 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: contain;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 30rem;
  }

  @supports not ((display: -ms-grid) or (display: grid)) {
    @media (min-width: $desktop-breakpoint) {
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
      height: 50rem;
      background-position: left;
    }
  }
}

.schedule__week {
  @supports not ((display: -ms-grid) or (display: grid)) {
    display: none;
  }
  background-color: #242424;
  color: #f4f4f4;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 0.5px solid #f4f4f4;
}

.schedule__hour {
  @supports not ((display: -ms-grid) or (display: grid)) {
    display: none;
  }
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #ffffff;
  color: #242424;
  border: 0.1px solid #e0e0e0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  em {
    font-weight: bold;
  }

  p {
    margin: 1rem auto;
    font-family: $text-font;
  }
}

.schedule__active {
  background-color: #f4f4f4;
}

.schedule__button {
  margin: 0 auto;

  .button__site {
    border-color: #f9363d;
    color: #242424;
    font-family: $text-font;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    display: none; 
    @media (min-width: $desktop-breakpoint) {
      font-size: 1.5rem;
      padding: 0.7rem 2rem;
    }
  }
}