.footer {
  // display: flex;
}

.social__wrapper {
  align-items: center;
  background: linear-gradient(to right, #ff7428, #ff363e);
  display: flex;
  justify-content: center;
  min-height: 10rem;
  width: 100vw;
}

.social {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
  @media (min-width: $desktop-breakpoint) {
    justify-content: space-between;
  }
}

.social__list {
  display: flex;
  > * {
    padding: 0 $s-size / 2;
  }
}

.social__title {
  color: white;
  font-size: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  @media (min-width: $desktop-breakpoint) {
    font-size: 3rem;
    padding-bottom: 0;
  }
}

.social__link {
  color: white;
  font-size: 5rem;
}

.footer__content {
  background-color: #000;
  color: #f4f4f4;
}

.footer__content--div {
  display: flex;
  width: 90vw;
  padding: 5rem 15rem;
}

.footer__content--singlediv {
  padding-right: 5rem;
  max-width: 35rem;

  h4 {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
  }
}

.footer__devs {
  background-color: #000;
  color: #f4f4f4;
  text-align: center;

  span {
    color: #ff373d;
  }
}
