.footer {
  // display: flex;
}

.social__wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff7428),
    to(#ff363e)
  );
  background: -webkit-linear-gradient(left, #ff7428, #ff363e);
  background: -o-linear-gradient(left, #ff7428, #ff363e);
  background: linear-gradient(to right, #ff7428, #ff363e);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 10rem;
  width: 100vw;
}

.social {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 90vw;
  @media (min-width: $desktop-breakpoint) {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  > * {
    padding: 0 $s-size / 2;
  }
}

.social__title {
  color: white;
  font-size: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  @media (min-width: $desktop-breakpoint) {
    font-size: 3rem;
    padding-bottom: 0;
  }
}

.social__link {
  color: white;
  font-size: 5rem;
}

.footer__content {
  background-color: #000;
  color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5rem 0;
  width: 90vw;
}

.footer__item {
  margin-bottom: 1rem;
  width: 75%;
  @media (min-width: $desktop-breakpoint) {
    width: 45%;
  }
  @media (min-width: $desktop-breakpoint) {
    margin-right: 0;
    width: 23%;
  }
}

.footer__item:not(:first-child) {
  margin: 0;
  @media (min-width: $desktop-breakpoint) {
    margin: 0 1rem;
  }
}

.footer__item:last-child {
  margin: 0;
}

.footer__title {
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}

.footer__text {
  padding: 1rem 1rem 1rem 0;
}

.footer__link {
  color: #f4f4f4;
}

.footer__devs {
  background-color: #000;
  color: #f4f4f4;
  text-align: center;

  span {
    color: #ff373d;
  }
}
