.title__font {
  font-family: $title-font;
  letter-spacing: 3px;
}

.grid-hero {
  display: block;
  @supports (display: grid) {
    display: -ms-grid;
    display: grid;
    grid-template:
      repeat(6, [row] minmax(120px, 1fr))/0.7rem repeat(4, [col] 1fr)
      0.7rem;
  }
  @media (min-width: $desktop-breakpoint) {
    @supports (display: grid) {
      grid-template:
        repeat(6, [row] minmax(120px, 1fr)) / 100px repeat(4, [col] 1fr)
        100px;
      grid-gap: 20px;
    }
  }
}
