.header-grid {
  background: $header_background;
  height: 9rem;
  z-index: 1;
  @supports (display: grid) {
    grid-column: 1 / -1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

.header {
  @extend .title__font;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: $header_background;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 9rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 2rem;
  @media (min-width: $desktop-breakpoint) {
    padding: 0 10rem;
  }
  @media (min-width: 960px) {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.header__nav {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: $header_color;
  display: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 1.5rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: uppercase;
  li:nth-child(even) {
    opacity: 0;
    padding: 0;
    @media (min-width: $desktop-breakpoint) {
      opacity: 1;
      padding: 0 2rem;
    }
  }
  a {
    color: $header_color;
  }
  @media (min-width: $desktop-breakpoint) {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  @media (min-width: 960px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__nav-selected {
  font-weight: 700;
  & > li {
    color: #edb19a;
  }
}

.header__nav-hover {
  position: relative;
}

.header__nav--item {
  &:after,
  &:before {
    content: "";
    position: absolute;
    left: 0;
    width: 95%;
    height: 2px;
    background-color: 0 0;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

.header__nav--item:before {
  top: -10px;
}
.header__nav--item:after {
  bottom: -10px;
}

.header__nav--item:hover:before {
  top: -4px;
}

.header__nav--item:hover:after {
  bottom: -4px;
}

.header__nav--item:hover:after,
.header__nav--item:hover:before {
  background-color: #fff;
}

.header__nav-selected .header__nav--item:hover:after,
.header__nav-selected .header__nav--item:hover:before {
  background-color: #edb19a;
}

.header__brand {
  color: #edb19a;
  font-size: 3rem;
  text-transform: uppercase;
}
