.classes-page {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 8rem 0 0 0;
  width: 100vw;
  @media (min-width: $desktop-breakpoint) {
    padding: 8rem 0;
  }
}

.classes-page__title {
  color: #242424;
  font-size: 2.5rem;
  letter-spacing: 2px;
  padding: 1rem;
  text-transform: uppercase;
}

.classes-page__icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: #edb19a;
}

.classes-page__icon--thai {
  background-image: url("/images/gloves.png");
  padding: 3rem;
}

.classes-page__icon--jj {
  background-image: url("/images/jj-belt.png");
  padding: 3rem 5rem;
}

.classes-page__icon--private {
  background-image: url("/images/fist.png");
  padding: 3rem 5rem;
}

.classes-page__description {
  font-family: $text-font;
  max-width: 60vw;
  font-size: 1.7rem;
  padding-top: 5rem;
}

.classes-page__description--icon {
  color: coral;
  font-size: 1.3rem;
}

.classes-page__description--img {
  width: 10rem;
}

.classes-page__kruang {
  width: 4.4rem;
  padding: 0 0.5rem;
}

.classes-page__gallery-list {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 2rem 0;
}

.classes-page__gallery {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 2rem;
  width: 90vw;
}

.classes-page__others {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 2rem;
  width: 90vw;
  > * {
    -webkit-box-shadow: 0px 1px 0.1rem rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 0.1rem rgba(0, 0, 0, 0.3);
    color: #242424;
    -ms-flex-preferred-size: 85%;
    flex-basis: 85%;
    font-size: 2.5rem;
    letter-spacing: 2px;
    padding: 3rem 0;
    text-align: center;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    &:hover {
      -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
      transform: scale(1.01);
    }

    @media (min-width: $desktop-breakpoint) {
      -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
    }
  }
}

.classes-page__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  > * {
    color: #242424;
  }
}

.classes-page__thai {
  height: 10rem;
  width: 10rem;
}
