.gallery-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem 0;
}

.gallery-page__title {
  color: #242424;
  font-size: 2.5rem;
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.gallery-page__icon {
  color: #edb19a;
  font-size: 1.3rem;
  padding: 0 1rem 2rem 1rem;
}

.gallery-page__description {
  font-family: $text-font;
  max-width: 50vw;
  text-align: center;
  font-size: 1.3rem;
}

.gallery-page__content {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, 35rem);
  margin-top: 8rem;
  justify-content: center;
  width: 80vw;
  @media (min-width: $tablet-breakpoint) {
    display: block;
    text-align: center;
    width: 100%;
  }
  @media (min-width: $desktop-breakpoint) {
    display: grid;
    width: 80vw;
  }
}

.gallery-page__image {
  height: 25rem;
  margin: 0;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  @media (min-width: $tablet-breakpoint) {
    height: 35rem;
    width: 50rem;
  }
  @media (min-width: $desktop-breakpoint) {
    height: 25rem;
    width: 35rem;
  }
}
