.gallery-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem 0;
}

.gallery-page__title {
  color: #242424;
  font-size: 2.5rem;
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.gallery-page__icon {
  color: #edb19a;
  font-size: 1.3rem;
  padding: 0 1rem 2rem 1rem;
}

.gallery-page__description {
  font-family: $text-font;
  max-width: 50vw;
  text-align: center;
  font-size: 1.3rem;
}

.gallery-page__content {
  display: grid;

  // grid-auto-rows: auto; //grid-auto-rows: 25rem;
  grid-auto-flow: row dense;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-template-rows: auto;

  justify-content: center;
  margin-top: 8rem;
  overflow: hidden;
  width: 80vw;
}

.gallery-page__overlay-video {
  margin: 0 auto;
  transition: transform 0.5s ease;
  width: auto;
  &:hover {
    transform: scale(1.05);
  }
}

.gallery-page__span-row {
  grid-row-end: span 2;
}

.gallery-page__video {
  height: 100%;
  width: 100%;
}

.gallery-page__overlay-image {
  margin: 0;
  object-fit: cover;
  object-position: 50% 50%;
  transition: transform 0.5s ease;
  width: auto;
  &:hover {
    transform: scale(1.05);
  }
}

.gallery-page__image {
  height: 100%;
  width: 100%;
}

.light-video {
  display: flex;
  height: 50vh;
  margin: 0 auto;
  margin-top: 25vh;
}

.light-video__vertical {
  height: 90%;
  margin-top: 8vh;
}

.gallery-page__message {
  margin: 0 auto;
  margin-top: 4rem;
}
